In [1]:
#EXCEL FILES
#Pandas can only read and write in the raw data. If you have a more advanced Excel spreadsheet that has macros or visualizations
#or specific formulas created inside the spreadsheet, Pandas is not going to be able to read in those relationships.
#It's just going to grab the actual value in the cell and then read it in as a data frame.

In [ ]:
#pandas treats the workbook as a disctionary, w the key being the sheet name and the value being every dataframe associated w it
#gotta use specific libraries (can use them directly without being limited by pandas - see web)

In [3]:
import pandas as pd

In [11]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')
#if just wanna read one sheet -- i say sheet_name= 'and the sheet name'
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
#what if i dont know my sheet names so i wanna loopt through them all?

In [18]:
#to know the names of all your workbooks:
wb = pd.ExcelFile('my_excel_file.xlsx')
wb.sheet_names
#this will provide me a list of all the workbooks so i can then use it to loop through the 'read_excel' function by passing them to 'sheet_name' thorugh a variable and looping it

['First_Sheet']

In [32]:
#or i can directly grab all the sheets and so pandas will generate a dictionary as we mentioned
excel_dict = pd.read_excel('my_excel_file.xlsx', sheet_name= None)
#if you pass a 'None' to the sheet_name, itll read all and pass them as a dictionary to the variable

In [28]:
#and so this dict has keys
excel_dict.keys()

dict_keys(['First_Sheet'])

In [30]:
# so i can pass this aname and get that associated df:
excel_dict['First_Sheet']
#remember its a dictionary where the key is the sheetname and the value is the df itself

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [34]:
# as we here:
excel_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [42]:
#TO EXPORT IT AS EXCEL:
mydf = excel_dict['First_Sheet']

In [44]:
mydf.to_excel('ex.xlsx', sheet_name = 'First_Sheet', index= False)
#through sheetname i can provide a name for that sheet
#keep in mind that if that file youre creating already exists, itll search for that sheet name and overwrite it w whatever you export
#index= False to not save it (when it the default index by pandas)