In [1]:
# USE .str LIBRARY TO CLEAN AND MANIPULATE TEXT DATA
#could do that with our own custom apply function, but it comes already built in the .str library of Pandas
#see documentation to see all possible string methods you can call w this .str

In [5]:
import numpy as np
import pandas as pd

In [ ]:
#A quick note right now and the form of Pandas we're working with as well as anything previous to Pandas 1.0, there was the object data type, which was the main way that Pandas stored text data. 
#And everything we learned here is gonna work on that sort of object data type, but into the future, what Pandas going to focus on is actually setting things to be a string D type.
#And it's just to clarify that everything in the column is for sure a string.
#Prior to Pandas 1.0, this object data type with NumPy, it could technically store a mixture of strings and non-strings, which could down the line cause errors if you're trying to perform a string method call on something that's not really a string.
#So just keep that in mind. If you read in data right now, it'll say it's an object and for our cases we can just treat it as a string, but into the future with future versions of Pandas, they're going to try to improve on this by just specifying if everything is a string in that column, then it's a string data type.

In [ ]:
#They are string method calls that are bulit into a Python string object to begin with

In [7]:
email = 'jase@email.com'

In [9]:
email.split('@')

['jase', 'email.com']

In [15]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [21]:
#i can call methods on these
names.str.upper()
#it isnt permanent - would have to reassign it to make it permanent

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [23]:
email.isdigit()
#to check if its some kind of format in specific

False

In [25]:
'5'.isdigit()

True

In [27]:
names.str.isdigit()
#press tab to see all options
#will apply it in every string in that column
#will return you a booblean you can then pass to the series to only get the non digit ones - using it as a conditional filter

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [39]:
#can expand this into a df:
tech_finance = ['GOOG,APPL,AMZN', 'JPM, BAC, GS']

In [73]:
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1      JPM, BAC, GS
dtype: object

In [79]:
tickers.str.split(',')
#now its a list like object and i can grab things from there

0    [GOOG, APPL, AMZN]
1      [JPM,  BAC,  GS]
dtype: object

In [63]:
#easier to see in a list:
tech = 'GOOG, APPL, AMZN'
tech = tech.split(',')
tech

['GOOG', ' APPL', ' AMZN']

In [65]:
tech[0]

'GOOG'

In [81]:
tickers.str.split(',').str[0]
#its the Pandas version of what youd do in Python

0    GOOG
1     JPM
dtype: object

In [83]:
#but i can also turn it into a df:
tickers.str.split(',', expand = True)
#'expand' will: Expand the split strings into separate columns.

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [89]:
#STACKING STRING CALLS:
messy_names = pd.Series(['andrew    ', 'bo;bo', '   claire   '])
messy_names

0      andrew
1           bo;bo
2       claire
dtype: object

In [109]:
#lets clean it up:
messy_names = messy_names.str.replace(';','')
messy_names

0      andrew
1            bobo
2       claire
dtype: object

In [117]:
messy_names = messy_names.str.strip()
messy_names
#again, the change its not permanent -- id have to reasign it to make it permanent

0    andrew
1      bobo
2    claire
dtype: object

In [119]:
messy_names[0]

'andrew'

In [121]:
messy_names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [125]:
#can stack all of these calls to make your code pretty clean and also very readable:
messy = messy_names.str.replace(';','').str.strip().str.capitalize()
messy

0    Andrew
1      Bobo
2    Claire
dtype: object

In [127]:
#i could also create a custom function:
def cleanup(name):
    name = name.str.replace(';','')
    name = name.str.strip()
    name = name.str.capitalize()
    return name

In [131]:
messed_names = pd.Series(['andrew    ', 'bo;bo', '   claire   '])
messed_names

0      andrew
1           bo;bo
2       claire
dtype: object

In [133]:
cleanup(messed_names)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [135]:
#or w 'apply' function:
messed_names.apply(cleanup)
#should work

AttributeError: 'str' object has no attribute 'str'

In [ ]:
#is it more efficient to create a custom function or to apply .str?
#gotta compar ewhich is faster in computer time and which in my