In [9]:
import pandas as pd
import numpy as np

In [65]:
#Imaginary sales data for the first quarter of a company and the second quarter of a company.
q1 = {'Japan' : 80, 'China' : 450, 'India' : 200, 'USA' : 250}
q2 = {'Brazil' : 100, 'China' : 500, 'India' : 210, 'USA' : 260}

In [67]:
sales_q1 = pd.Series (q1)
sales_q2 = pd.Series (q2)

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [69]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [25]:
sales_q1["Japan"]
#gotta use the same exact label (case-sensitive!!!)

80

In [29]:
sales_q1[0]
#better use name index so its more readable

C:\Users\mirlo\AppData\Local\Temp\ipykernel_3244\3322456342.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

80

In [35]:
#if ive got trouble reminding one key word, i can ask to see all the keywords ive got - to find the excat string of what im looking for
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [39]:
#we can perform broadcast ed operations as it comes from a numpy array
[1,2] * 2

[1, 2, 1, 2]

In [43]:
#if we turn it into numpyarray: itll broadcast it
np.array([1,2]) *2

array([2, 4])

In [47]:
#then the same its gonna happen with my series as it comes from a numpy array:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [71]:
#the nice thing about having name indexes is that when performing operations btw two series, its onna take the name index into account
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [83]:
#shows you NaN when there not present in both series
#How do i fill automatically those missing values?:
add_up = sales_q1.add(sales_q2, fill_value=0)
#this function adds the up but you gotta indicate which ones, and the fill value you wanna have (for the indexes missing in each series, what do you want the value to be)
#beaware - put 'fill_value'!!! (cos we're not using level)

In [79]:
#as we start operating with them, they ll turn into floats
sales_q1.dtype

dtype('int64')

In [87]:
add_up.dtype

dtype('float64')

In [89]:
#if i really need it to be an interger (not in this course), use pandas round function or hardcore turn it into interger 
#f ex in the pd.Series function you've got the option to specify the datatype you want (see info w tab+shift)
#can also name the series which will be a high level label of that series overall

In [ ]:
#AND SO, I CAN PERFORM OPERATION BTW SERIES BUT KEEP IN MIND THAT IF I HAVE TO FILL BLANK SPACES (INDEXES THAT ARE NOT COMMON TO BOTH) I HAVE TO USE DIFFERENT FUNCTION AND SPECIFY THE FILL VALUE