In [11]:
import pandas as pd
import numpy as np

In [ ]:
#READ, SAVE AND OUTPUT CSV FILES
#gotta know the exact location and name of the file
#might need passwords or access to private files in the future

In [5]:
#search for 'IO tools' to see documentation - tells you command to redad it in and write it out
#(wont always be able to write it out)
#gonna be pd.read VS df.to...

In [13]:
#to show file format structure:
pwd

NameError: name 'pwd' is not defined

In [15]:
#list of current files in directory
ls

NameError: name 'ls' is not defined

In [17]:
#for .py docs
import os

In [19]:
os.getcwd()

'C:\\Users\\mirlo'

In [27]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [31]:
#if i dont want abcd as column names but as rows:
df = pd.read_csv('example.csv', header=None)
df
#will set them as row entry

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [39]:
#for a to be an index:
df = pd.read_csv('example.csv', index_col=0)
#says use the o index column as my index
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [41]:
#TO SAVE THIS DATAFRAME:
df.to_csv('new_file.csv')
#you can provide the full file path where you want it to be located or you can not specify anything and so itll be saved in the same place where python is running
#if i wanna keep the index i put 'index= True'
#if i dont wanna keep the index (cos its the same as the default one -- 'index= False')

In [45]:
new = pd.read_csv('new_file.csv')
new
#as i didnt save the index, it returned to the default ones

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
#so to read in --> pd.read_csv()
#to write out --> df.to_csv()